@model List<Competition_Tournament.Models.Competition>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="cnt">
        <div id="cntr">
            <h3>All Competitions:</h3>
            @for (int i = 0; i < Model.Count; i++)
            {
                var competition = Model[i];
                <div class = "cmp-cnt">
                    <h4>Competition @(i + 1): @competition.Name</h4>
                    <p>Winner: Unknown</p>
                    <p>Started: @competition.StartDate?.ToString("dd/MM/yyyy")</p>
                    <p>Ended: @competition.EndDate?.ToString("dd/MM/yyyy")</p>
                    <p>Location: @competition.Location </p>
                    <p>Type: @competition.CompetitionTypeNavigation.Name</p>
                    <a href="@Url.Action("Details", "Competitions", new { id = competition.Id })">Details</a>
                    <h6>Games played:</h6>
                    @if (competition.Games.Count > 0)
                    {
                        @foreach (var game in competition.Games)
                        {
                            <p>@game.Team1Name - @game.Team2Name (@game.Team1Score - @game.Team2Score)</p>
                        }
                    }
                    else{
                        <p>No games</p>
                    }
                </div>
            }
        </div>
    </div>
</div>
