@model IEnumerable<Competition_Tournament.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="create-new-btn" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwardsNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardsNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motto)
            </td>
            <td>
                @Html.Raw(item.CreatedOn?.ToString("d"))
            </td>
            <td class="team-wide">
                <a class="modify" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="modify" asp-controller="Players" asp-action="Index" asp-route-id="@item.Id">Details</a> 
                <a class="modify" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        <tr class="team-small" style="background-color: rgba(0, 98, 99, 0.7)">
            <td colspan="6">
                <div style="width: 100%; display: flex; justify-content:space-around">
                    <a class="modify" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="modify" asp-controller="Players" asp-action="Index" asp-route-id="@item.Id">Details</a> 
                    <a class="modify" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </td>
        </tr>   
}
    </tbody>
</table>
